Repository SE10-IJSE/SE10-NETWORK-FRONTEND, pull requests merged in 2024-10, with the labels that each got.

#61 Enhance Validation in Login, MyPost Wall, and Profile Wall
  components/js/wall/MyPostWallComponent.js
  components/js/wall/ProfileWallComponent.js
  controller/LoginPageController.js
Labels: validation

#62 Improve Mobile Responsiveness for Login and Registration Forms
  assets/css/loginPage.css
  assets/css/registrationForm2.css
  index.html
  pages/registrationForm2.html
Labels: registration form, login form

#63 wall components | models evaluated and bugs fixed
  README.md
  assets/css/birthdayPageMobile.css
  assets/css/deleteConfirmationPopup.css
  assets/css/forgotPassword.css
  assets/css/homePage.css
  assets/css/postInfoPopup.css
  components/css/AdminApprovePostCardComponent.css
  components/css/PostCardComponent.css
  components/css/wall/ProfileWallComponent.css
  components/js/wall/AdminApproveWallComponent.js
  components/js/wall/HomeWallComponent.js
  components/js/wall/MyFriendPostWallComponent.js
  components/js/wall/MyPostWallComponent.js
  components/js/wall/ProfileWallComponent.js
  components/pages/wall/homeWallComponent.html
  components/pages/wall/myPostWallComponent.html
  components/pages/wall/profileWallComponent.html
  controller/HomePageController.js
  model/HomePageModel.js
  model/LoginFormModel.js
  model/NotificationModel.js
  model/PostCardModel.js
  model/RegistrationFormModel.js
  model/SearchPopupModel.js
  model/UserProfileModel.js
  model/VerificationFormModel.js
  pages/adminApprovePageMobile.html
  pages/forgotPasswordForm.html
  pages/mobileHomePage.html
  pages/registrationOtpVerifyPage.html
Labels: evaluated, model, component
